<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" 
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/35484528bd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Houseplantr</title>
</head>
<body>
    <header>
        <!--Navbar-->
        <nav class="navbar navbar-light bg-light navbar-expand-sm">
            <a class="navbar-brand" href="{{ url_for('get_houseplant') }}">
                <img src="/" width="30" height="30" class="d-inline-block align-top" alt="">Houseplantr
            </a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span></button>
    
            <div class="collapse navbar-collapse" id="navbarNavDropdown">    
                <ul class="navbar-nav ml-auto">
                    <li class="active nav-item mr-2"><a class="nav-link" href="{{ url_for('get_houseplant') }}">Houseplants</a></li>
                    <li class="nav-item mr-2"><a class="nav-link" href="">Profile</a></li>
                    <li class="nav-item mr-2"><a class="nav-link" href="">Add Houseplant</a></li>
                    <li class="nav-item mr-2"><a class="nav-link" href="">Manage Categories</a></li>
                    <li class="nav-item mr-2"><a class="nav-link" href="">Log in</a></li>
                    <li class="nav-item mr-2"><a class="nav-link" href="">Log out</a></li>
                    <li class="nav-item mr-2"><a class="nav-link" href="">Register</a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    {% block content %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" 
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" 
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" 
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>