{% extends "base.html" %}
{% block content %}

    <div class="container plants-container my-5">    
        <div class="card-columns">
            {% for houseplant in houseplant %}
            <div class="card">
              <img class="card-img-top" src="{{ houseplant.image_url }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><strong>{{ houseplant.horticultural_name }}</strong></h5>
                    <h6 class="card-title">{{ houseplant.common_name }}</h6>
                    <p class="card-text">{{ houseplant.description }}</p>
                    <ul class="list-group mb-4">
                        <li class="list-group-item"><i class="fas fa-seedling"></i>{{ houseplant.category }}</li>
                        <li class="list-group-item"><i class="fas fa-user"></i>{{ houseplant.horticulturalist }}</li>
                        <li class="list-group-item"><i class="fas fa-calendar-day"></i>{{ houseplant.date }}</li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div> 
 
{% endblock %}
