<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Houseplants</title>
</head>
<body>
    {% for houseplant in houseplant %}
        {{ houseplant.category }}<br>
        {{ houseplant.horticultural_name }}<br>
        {{ houseplant.common_name }}<br>
        {{ houseplant.description }}<br>
        {{ houseplant.date }}<br>
        {{ houseplant.horticulturalist }}<br>
        {{ houseplant.image_url }}<br>
    {% endfor %}
    
</body>
</html>