{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12" method="POST" action="{{ url_for('register') }}">
                <div class="avatar">
                <img src="/" alt="avatar" class="">
                </div>
                <div class="center-form">
                    <form>
                        <h3 class="contact-heading">Join Houseplantr</h3>
                        <!--username-->
                        <div class="form-group">
                            <i class="fas fa-user-plus prefix text-darken-4"></i>
                            <label for="username"></label>
                            <input id="username" name="username"  type="text" class="form-control" placeholder="Username"> 
                        </div>
                        <!--password-->
                        <div class="form-group">
                            <i class="fas fa-user-lock prefix text-darken-4"></i>
                            <label for="password"></label>
                            <input id="password" name="password" class="form-control" type="password" class="form-control" placeholder="Password">
                        </div>
                        <!--register-->
                        <div>
                            <button type="submit" class="btn btn-success btn-block">Register <i class="fas fa-sign-in-alt"></i></button>
                        </div>
                    </form>
                    <div class="float-right">
                    <small class="text-muted not-member">Lorem ipsum?<a href="#">Lorem ipsum</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}